<% title '@club.name Dispensary'%>
<% subtitle @club.name %>

<div class='sg-24 sgParent'>
	<div class="club_info">
		<%= likeablebox @club %>
		<div class='stats'>
			<h1><%= @club.name %></h1>
			<ul>
				<li>Email: <%= @club.email %></li>
				<li>Address: <%= @club.address %></li>
				<li>Distance from you: <b><%= @distance.round(2) unless @distance.nil? %> miles</b></li>
			</ul>
		</div>
		
		<div class='clear'></div>
		
		<div class='strains'>
			<h2>Strains in stock:</h2>
			<div id='stock_strains'>
				<%= render 'shared/stock_strains', :stock_strains => @stock_strains %>
			</div>
		</div>
	</div>
	
	
	<div class='strain_list'>
		<h1>Strain Index <br/><span class='sub'>add/remove from inventory</span></h1>
		<%= form_tag club_path(@club), :method => :get, :id => 'strain_search_form', :remote => true do %>
			<%= text_field_tag :strain_search  %>
			<%= submit_tag 'search' %>
		<% end %>
		<div id='strains_search'><%= render 'shared/strain_search', :club => @club, :strains => @strains %></div>
	</div>
</div>