<%= form_for quiz, {:url => quiz_route,:html => {:class => 'quiz_form', :remote => true}} do |f| %>
<div class='title'>CannaNerd Survey</div>
<ol>
<% quiziations.each do |quiziation| %>
	<% if quiziation.question.multichoice %>
		<%= render 'shared/multi_answer', :f => f, :quiziation => quiziation %>
	<% else %>
		<%= render 'shared/single_answer', :f => f, :quiziation => quiziation %>
	<% end %>
<% end %>
</ol>

<div class='quiz_control'>
<div class='back_button'><%= f.submit 'back', {:name => 'prev_page'} unless quiz.first_page? %></div>
<div class='next_button'><%= f.submit 'next', {:name => 'next_page'} unless quiz.last_page?%></div>
<div class='submit_button'><%= f.submit 'submit', {:name => 'submit'} if quiz.last_page? %></div>

	<div class='completed'><%= "#{quiz.current_page} / #{quiz.total_pages}" %></div>
	<div class='meter'>	
		<span style="width:<%= number_to_percentage(quiz.percentage_complete,:precision => 0) %>"></span>
	</div>
</div>
<% end %>
