<%= form_for quiz, :url => quiz_route, :remote => true do |f| %>
<ol>
<% quiziations.each do |quiziation| %>
	<% if quiziation.question.multichoice %>
		<%= render 'shared/multi_answer', :f => f, :quiziation => quiziation %>
	<% else %>
		<%= render 'shared/single_answer', :f => f, :quiziation => quiziation %>
	<% end %>
<% end %>
</ol>
<% if quiz.first_page? %>
<div class='fake_button'><pre> </pre></div>
<% else %>
<div class='back_button'><%= f.submit 'back', {:name => 'prev_page'} %></div>
<% end %>
<div class='next_button'><%= f.submit 'next', {:name => 'next_page'} unless quiz.last_page?%></div>
<div class='submit_button'><%= f.submit 'submit', {:name => 'submit'} if quiz.last_page? %></div>
<% end %>
