<% strains.each do |strain| %>
<div id='stock_strain_action_<%= "#{club.id}_#{strain.id}" %>' class='buttons'>
	<% unless club.in_inventory?(strain) %>
		<%= render 'shared/add_to_inv', :club => club, :strain => strain %>
	<% else %>
		<%= render 'shared/remove_from_inv', :club => club, :strain => strain %>
	<% end %>
</div>
<ul>
	<li><%= strain.name %></li>
	<li class='description'><span class='sub'><%= truncate(strain.description, :length => 75) %></span></li>
</ul>
<% end %>