<table id='strains' summary='strain search list'>
	<% strains.each do |strain| %>
		<tr>
			<td>
				<ul>
					<li><%= strain.name %></li>
					<li><span class='description sub'><%= truncate(strain.description, :length => 30) %></span></li>
				</ul>
			</td>
			<td>
				<% unless club.in_inventory?(strain) %>
					<%= render 'add_to_inv', :club => club, :strain => strain %>
				<% else %>
					<% if permitted_to? :destroy, :stock_strains %>
						<%= render 'remove_from_inv', :club => club, :strain => strain %>
					<% else %>
					<%= render 'remove_from_inv', :club => club, :strain => strain %>
						<span>In inventory</span>
					<% end %>
				<% end %>
			</td>
		</tr>
	<% end %>
</table>