<%= content_for :navbar do %>
	<% if current_user %>
		<li><%= link_to 'User Page', user_path(current_user) %></li>
	<% end %>
	<% if current_club %>
		<li><%= link_to 'Club Home Page', club_path(current_club) %></li>
	<% end %>
	
	<% if permitted_to? :index, :questionnaires %>
		<li><%= link_to 'Questionnaire', questionnaires_path %></li>
		<li><%= link_to 'Answers', answers_path %></li>
	<% end %>
<% end %>

<div class='sgParent sg-24'>
<%= form_for @answer do |f| %>
	<p>
		<%= f.label :content %>: 
		<%= @answer.content %>
	</p>
	
	<p>
		<%= f.label :tag_tokens, "Tags" %>
		<%= f.text_area :tag_tokens, "data-pre" => @answer.tags.map(&:attributes).to_json %>
	</p>
	<%= f.submit 'Submit answer' %>
<% end %>
</div>