<%= content_for :navbar do %>
	<% if current_user %>
		<li><%= link_to 'User Page', user_path(current_user) %></li>
	<% end %>
	<% if current_club %>
		<li><%= link_to 'Club Home Page', club_path(current_club) %></li>
	<% end %>
	
	<% if permitted_to? :index, :questionaires %>
		<li><%= link_to 'Questionaire', questionaires_path %></li>
		<li><%= link_to 'Answers', answers_path %></li>
	<% end %>
<% end %>

<div class='sgParent sg-24'>
	<table cellspacing="0">
		<% @answers.each do |answer| %>
			<tr>
				<td>
					<span><%= answer.content %></span>
					<span>
						<% answer.tags.each do |tag| %>
							<%= tag.name %>
						<% end %>
					</span>
				</td>
				<td>
					werd
				</td>
				<td><%= link_to 'edit answer', edit_answer_path(answer) %></td>
			</tr>
		<% end %>
	</table>
</div>