<% subtitle 'Answers'%>

<%= content_for :navbar do %>
	<% if current_user %>
		<li><%= link_to 'User Page', user_path(current_user) %></li>
	<% end %>
	<% if current_club %>
		<li><%= link_to 'Club Home Page', club_path(current_club) %></li>
	<% end %>
	
	<% if permitted_to? :index, :questionaires %>
		<li><%= link_to 'Questionaire', questionaires_path %></li>
		<li><%= link_to 'Answers', answers_path %></li>
		<li><%= link_to 'Tags', tags_path %></li>
	<% end %>
<% end %>

<div class='sgParent sg-24'>
	<div class="apple_pagination">
		<%= will_paginate @answers_section1 %>
	</div>
	<div class='sg-11'>
	<table id='answers' summary='answers index'>
		<%= render @answers_section1 %>
	</table>
	</div>
	<div class='sg-11'>
	<table id='answers' summary='answers index'>
		<%= render @answers_section2 %>
	</table>
	</div>
</div>