<% title 'Home'%>
<% subtitle 'CannaNerd'%>

<%= content_for :navbar do %>
	<li><%= link_to 'Home', root_path %></li>
	<li><%= link_to 'About', about_path %></li>
	<li><%= link_to 'Contact', contact_path %></li>
<% end %>

<div id='home' class='sg-24 sgParent'>
	<div class='sg-5'><%= image_tag 'weed1.png', :size => '140x140' %></div>
	<div class='sg-5'><%= image_tag 'weed2.png', :size => '140x140' %></div>
	<div class='sg-5'><%= image_tag 'weed3.png', :size => '140x140' %></div>
	<div class='sg-5'><%= image_tag 'weed4.png', :size => '140x140' %></div>
	
	<div class='sg-5'><%= image_tag 'weed3.png', :size => '140x140' %></div>
	<div class='sg-5'><%= image_tag 'weed2.png', :size => '140x140' %></div>
	<div class='sg-5'><%= image_tag 'weed4.png', :size => '140x140' %></div>
	<div class='sg-5'><%= image_tag 'weed1.png', :size => '140x140' %></div>
	
	<div class='sg-5'><%= image_tag 'weed3.png', :size => '140x140' %></div>
	<div class='sg-5'><%= image_tag 'weed1.png', :size => '140x140' %></div>
	<div class='sg-5'><%= image_tag 'weed2.png', :size => '140x140' %></div>
	<div class='sg-5'><%= image_tag 'weed4.png', :size => '140x140' %></div>
	
	<div class='sg-5'><%= image_tag 'weed4.png', :size => '140x140' %></div>
	<div class='sg-5'><%= image_tag 'weed2.png', :size => '140x140' %></div>
	<div class='sg-5'><%= image_tag 'weed3.png', :size => '140x140' %></div>
	<div class='sg-5'><%= image_tag 'weed1.png', :size => '140x140' %></div>
</div>