<% title 'Home'%>
<% subtitle 'CannaNerd'%>

<%= content_for :navbar do %>
	<% if current_user %>
		<li><%= link_to 'User Page', user_path(current_user) %></li>
	<% end %>
	<% if current_club %>
		<li><%= link_to 'Club Home Page', club_path(current_club) %></li>
	<% end %>
	
	<% if permitted_to? :index, :questionaires %>
		<li><%= link_to 'Questionaire', questionaires_path %></li>
	<% end %>
<% end %>

<div id='home' class='sg-24 sgParent'>
	<div class='sg-5'><%= image_tag 'weed1.png', :size => '140x140' %></div>
	<div class='sg-5'><%= image_tag 'weed2.png', :size => '140x140' %></div>
	<div class='sg-5'><%= image_tag 'weed3.png', :size => '140x140' %></div>
	<div class='sg-5'><%= image_tag 'weed4.png', :size => '140x140' %></div>
	
	<div class='sg-5'><%= image_tag 'weed3.png', :size => '140x140' %></div>
	<div class='sg-5'><%= image_tag 'weed2.png', :size => '140x140' %></div>
	<div class='sg-5'><%= image_tag 'weed4.png', :size => '140x140' %></div>
	<div class='sg-5'><%= image_tag 'weed1.png', :size => '140x140' %></div>
	
	<div class='sg-5'><%= image_tag 'weed3.png', :size => '140x140' %></div>
	<div class='sg-5'><%= image_tag 'weed1.png', :size => '140x140' %></div>
	<div class='sg-5'><%= image_tag 'weed2.png', :size => '140x140' %></div>
	<div class='sg-5'><%= image_tag 'weed4.png', :size => '140x140' %></div>
	
	<div class='sg-5'><%= image_tag 'weed4.png', :size => '140x140' %></div>
	<div class='sg-5'><%= image_tag 'weed2.png', :size => '140x140' %></div>
	<div class='sg-5'><%= image_tag 'weed3.png', :size => '140x140' %></div>
	<div class='sg-5'><%= image_tag 'weed1.png', :size => '140x140' %></div>
</div>