<% title 'Home'%>
<% subtitle 'CannaNerd'%>

<%= content_for :navbar do %>
	<% if current_user %>
		<li><%= link_to 'User Page', user_path(current_user) %></li>
	<% end %>
	<% if current_club %>
		<li><%= link_to 'Club Home Page', club_path(current_club) %></li>
	<% end %>
	
	<% if permitted_to? :index, :questionaires %>
		<li><%= link_to 'Questionaire', questionaires_path %></li>
		<li><%= link_to 'Answers', answers_path %></li>
		<li><%= link_to 'Tags', tags_path %></li>
	<% end %>
<% end %>

<div id='home' class='sg-24 '>
	<% if current_user.nil? && current_club.nil? %>
		<div id="questionaire_div">
		<%= render 'shared/questionaire', :questions => @questions %>
		</div>
	<% end %>
</div>

