<%= form_for @tag do |f| %>
<%= render 'shared/error_messages', :object => f.object %>
	<p>
	<%= f.label :name %>
	<%= f.text_field :name %>
	</p>

	<p>
		<%= f.label :category %>
		<%= f.text_field :category %>
	</p>

	<%= f.submit 'Submit tag' %>
<% end %>