<%= content_for :navbar do %>
	<% if current_user %>
		<li><%= link_to 'User Page', user_path(current_user) %></li>
	<% end %>
	<% if current_club %>
		<li><%= link_to 'Club Home Page', club_path(current_club) %></li>
	<% end %>
	
	<% if permitted_to? :index, :questionnaires %>
	<li><%= link_to 'Questionnaire', questionnaires_path %></li>
	<li><%= link_to 'Answers', answers_path %></li>
	<li><%= link_to 'Tags', tags_path %></li>
	<% end %>
<% end %>

<div class='sgParent sg-24'>
	<%= render 'form' %>
</div>