<% subtitle 'Tags'%>

<%= content_for :navbar do %>
	<% if current_user %>
		<li><%= link_to 'User Page', user_path(current_user) %></li>
	<% end %>
	<% if current_club %>
		<li><%= link_to 'Club Home Page', club_path(current_club) %></li>
	<% end %>
	
	<% if permitted_to? :index, :questionaires %>
	<li><%= link_to 'Questionaire', questionaires_path %></li>
	<li><%= link_to 'Answers', answers_path %></li>
	<li><%= link_to 'Tags', tags_path %></li>
	<% end %>
<% end %>

<div class='sgParent sg-24'>
	<table>
	<% @tags.each do |tag| %>
		<tr>
			<td><%= tag.name %></td>
			<td><%= tag.category %></td>
			<td><%= link_to 'edit', edit_tag_path(tag) %></td>
		</tr>
	<% end %>
	</table>
	
	<%= link_to "Create tag", new_tag_path %>
</div>