<tr class='strain_edit_form'>
<%= form_for strain, :url => "#{curr_path}/#{strain.id}" do |f| %>
	<%= hidden_field :strain, :club_id, :value => strain.club_id %>
	
	<td>
		<%= f.text_field :name %><br />
		<%= f.text_area :description %>
	</td>
	<td>
		<%= f.label :flavor_tokens, "Flavors" %><br />
		<%= f.text_area :flavor_tokens, "data-pre" => strain.flavors.map{|t| {:id => t.name, :name => t.name}}.to_json %>
		<%= f.label :type_tokens, "Types" %><br />
		<%= f.text_area :type_tokens, "data-pre" => strain.types.map{|t| {:id => t.name, :name => t.name}}.to_json %>
		<%= f.label :condition_tokens, "Medical Conditions" %><br />
		<%= f.text_area :condition_tokens, "data-pre" => strain.conditions.map{|t| {:id => t.name, :name => t.name}}.to_json %>
	</td>
	<td>
		<%= f.label :symptom_tokens, "Treatable Symptoms" %><br />
		<%= f.text_area :symptom_tokens, "data-pre" => strain.symptoms.map{|t| {:id => t.name, :name => t.name}}.to_json %>
		<%= f.label :effect_tokens, "Effects" %><br />
		<%= f.text_area :effect_tokens, "data-pre" => strain.effects.map{|t| {:id => t.name, :name => t.name}}.to_json %>
		<%= f.label :price_tokens, "Prices" %><br />
		<%= f.text_area :price_tokens, "data-pre" => strain.prices.map{|t| {:id => t.name, :name => t.name}}.to_json %>
	</td>
	                                                                                                                
	<td>
		<%= f.label :created_at %><br />
		<%= strain.created_at.to_s(:long) %><br />
		<%= f.label :updated_at, "Last Updated At" %><br />
		<%= time_ago_in_words(strain.updated_at) %><br />
		<%= f.submit 'Update Data' %>
	</td>
<% end %>                                                                                                                
</tr>                                                                                                                    