<div class="fields button-wrap">
	
	<div>
	<h3>Question:</h3>
	<%= f.label :multichoice, "Multiple Choice"%>
	<%= f.check_box :multichoice, {}, true, false%>
	
	<br />
	</div>
	<div class='zp-80'>
		<%= f.text_area :content, :size => '150x2' %>
	</div>
	<div class='zp-20'><%= link_to_remove_fields "remove", f %></div>
	
	
	<div class='clear'></div>

	<div class='zp-100'>
		<h3>Answers:</h3>
		<%= link_to_add_fields "Add Answer", f, :answers %>
		<ul class='answers'>
	<%= f.fields_for :answers do |builder| %>
		<li class='zp-50'><%= render 'answer_fields', :f => builder %></li>
	<% end %>
	
		</ul>
	</div>
	<div class='clear'></div>
</div>

<div class='clear'></div>