<% title 'Questionnaire Editor'%>
<% subtitle 'Questionnaire'%>

<%= content_for :navbar do %>
	<% if current_user %>
		<li><%= link_to 'User Page', user_path(current_user) %></li>
	<% end %>
	<% if current_club %>
		<li><%= link_to 'Club Home Page', club_path(current_club) %></li>
	<% end %>
	
	<% if permitted_to? :index, :questionnaires %>
		<li><%= link_to 'Questionnaire', questionnaires_path %></li>
		<li><%= link_to 'Answers', answers_path %></li>
		<li><%= link_to 'Tags', tags_path %></li>
	<% end %>
<% end %>


<div class='sgParent sg-24'>
	<%= button_to 'Edit questionnaire', edit_questionnaire_path(@questionnaire), :method => :get %>
	<div id='questionnaire'>
		<ol>
			<% @questionnaire.questions.each do |question| %>
			<li class='questions'>
				<%= "#{question.content}" %>
				<ul>
					<% question.answers.each do |answer| %>
					<%= render 'shared/answer', :answer => answer, :display_tags => true %>
					<% end %>
				
				</ul>
			</li>
			<% end %>
		</ol>
	</div>
</div>