<% title 'Questionnaire Editor'%>
<% subtitle 'Questionnaire'%>

<div>
	<%= button_to 'Edit questionnaire', edit_questionnaire_path(Questionnaire.first), :method => :get %>
	<div id='questionnaire'>
		<ol id='questions' data-update-url="<%= sort_questionnaires_url %>">
			<% @questions.each do |question| %>
			<%= content_tag_for :li, question, :class => 'questions' do %>
				<span class='handle'>[drag]</span>
				<%= "#{question.content}" %>
				<ul>
					<% question.answers.each do |answer| %>
					<%= render 'shared/answer', :answer => answer, :display_tags => true %>
					<% end %>
				
				</ul>
			<% end %>
			<% end %>
		</ol>
	</div>
</div>