<div class='login'>
<%= form_for @user_session, :as => :user_session, :url => new_user_session_path do |f| %>
	<%= render 'shared/error_messages', :object => f.object %>
	
  <p>
    <%= f.label :email %>
    <%= f.text_field :email, :class => 'text_field'%>
  </p>
  <p>
    <%= f.label :password %>
    <%= f.password_field :password, :class => 'text_field' %>
  </p>
  <p><%= f.submit 'Login' %></p>
<% end %>
</div>