<% javascript 'strains/edit.js' %>

<div class='sg-24'>
<%= form_for @strain do |f| %>
	<p>
		<%= f.label :name %> <br />
		<%= f.text_field :name %>
	</p>
	
	<p>
		<%= f.label :description %> <br />
		<%= f.text_area :description %>
	</p>
	
	<%= f.submit 'Enter Strain data' %>
<% end %>
</div>