<tr>
	<td>
		<p><%= strain.name %></p>
		<span>
			<% tag_types.each do |tag_type| %>
				<% if strain.tag_list_on(tag_type).any? %>
					<ul class='tags'>
						<li><%= "#{tag_type.to_s}:" %></li>
						<li class='tag'><%= strain.tag_list_on(tag_type) %></li>
					</ul>
				<% end %>
			<% end %>
		</span>
	</td>
	<td><%= truncate(strain.description,:length => 30) %></td>
	<td><%= link_to 'edit', edit_strain_path(strain), :class => 'button' %>
			<%= link_to 'delete',strain_path(strain),:confirm => 'Are you sure?',:method => :delete, :class => 'button' %>
	</td>
</tr>