<header>
	<div id="header">
		<ol>
			<li><%= link_to logo, root_path %></li>
			<li><%= link_to 'How it Works', about_path %></li>
			<li><%= link_to 'Clubs', contact_path %></li>
			<li><%= link_to 'about', about_path %></li>
			<% if current_user %>
				<li><%= link_to 'logout', logout_path %></li>
			<% else %>
				<li><%= link_to 'login', login_path %></li>
			<% end %>
		</ol>
	</div>
	<div class='clear'></div>
</header>